{"openapi":"3.0.1","info":{"title":"RadarBox On Demand API","version":"2.1.53"},"servers":[{"url":"https:\/\/api.radarbox.com\/v2"}],"tags":[{"name":"Flights","description":"In this section you can find all of the endpoints related to live and historical flight data"},{"name":"Aircraft","description":"In this section you can find all of the endpoints related to aircraft data, such as tail number, ICAO type, owner (company), serial number or first flight. You can also find statistics of flight hours and most used airports"},{"name":"Airports","description":"In this section you can find all of the endpoints related to global airport data. You can get details of specific airports (by ICAO or IATA code) as well as searching by country, city, or latitude\/longitude. You will get access to static information such as codes, cities, countries, elevation, time zone and list of runways as well as real-time informations (e.g runway in use; recent takeoff\/landing statistics)"},{"name":"Airspace","description":"In this section you can find all of the endpoints related to global airspace data - NAT\/PAC Tracks or "},{"name":"Statistics","description":"General statistics of air traffic, airports and aircraft"},{"name":"Billing","description":"Utilities for consulting realtime billing information (e.g. credit used in the current cycle, requests detail, daily statistics, etc)"}],"paths":{"\/aircraft":{"get":{"tags":["Aircraft"],"summary":"Aircraft by ID","description":"Use this endpoint if you are looking for details or statistics for a specific aircraft (find by Mode-S hex code or tail number)","operationId":"getAircraft","parameters":[{"name":"modeS","in":"query","description":"Mode-S code","required":false,"schema":{"type":"string"},"example":"A98909"},{"name":"registration","in":"query","description":"Registration","required":false,"schema":{"type":"string"},"example":"N713UW"}],"responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/GetAircraftResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/aircraft\/search":{"get":{"tags":["Aircraft"],"summary":"Aircraft search","description":"Use this endpoint if you want to list all aircraft of a specific ICAO type or company","operationId":"searchAircraft","parameters":[{"name":"aircraftType","in":"query","description":"ICAO aircraft type","required":false,"schema":{"type":"string"},"example":"B738"},{"name":"airline","in":"query","description":"Airline (ICAO code)","required":false,"schema":{"type":"string"},"example":"AAL"}],"responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/SearchAircraftResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/airports\/search":{"get":{"tags":["Airports"],"summary":"Airport search","description":"Use this endpoint if you are trying to find all airports in a country, city or within a specific region.","operationId":"searchAirport","parameters":[{"name":"countryCode","in":"query","description":"Country code (ISO-2 or ISO-3)","required":false,"schema":{"type":"string"},"example":"US"},{"name":"countryName","in":"query","description":"Country name","required":false,"schema":{"type":"string"},"example":"United States"},{"name":"icaoCode","in":"query","description":"Airport ICAO code","required":false,"schema":{"type":"string"},"example":"KJFK"},{"name":"onlyMajor","in":"query","description":"Only major airports","required":false,"schema":{"type":"boolean"},"example":true},{"name":"city","in":"query","description":"City","required":false,"schema":{"type":"string"},"example":"New York"},{"name":"latitude1","in":"query","description":"Latitude 1","required":false,"schema":{"type":"number","format":"double"},"example":40.5398},{"name":"longitude1","in":"query","description":"Longitude 1","required":false,"schema":{"type":"number","format":"double"},"example":-73.8789},{"name":"latitude2","in":"query","description":"Latitude 2","required":false,"schema":{"type":"number","format":"double"},"example":40.7398},{"name":"longitude2","in":"query","description":"Longitude 2","required":false,"schema":{"type":"number","format":"double"},"example":-73.6789}],"responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/GetAirportsResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/airports\/{icaoCode}":{"get":{"tags":["Airports"],"summary":"Airport by code","description":"Use this endpoint if you know exactly which airport you need to know details for - you can search by ICAO or IATA code.","operationId":"getAirport","parameters":[{"name":"icaoCode","in":"path","description":"ICAO code","required":true,"schema":{"type":"string"},"example":"KJFK"}],"responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/GetAirportResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/airports\/{icaoCode}\/datis":{"get":{"tags":["Airports"],"summary":"Get D-ATIS by airport","description":"ATIS (Automatic Terminal Information Service) is a service that continuously broadcasts aeronautical information around the airport. D-ATIS is the text transcription of the information provided by it. Use this endpoint to find the latest information for a specific airport.","operationId":"getDatis","parameters":[{"name":"icaoCode","in":"path","description":"ICAO code","required":true,"schema":{"type":"string"},"example":"KJFK"}],"responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/GetDatisResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/airports\/{icaoCode}\/metar":{"get":{"tags":["Airports"],"summary":"Get METAR by airport","description":"METARs (METeorological Aerodrome Reports) provide a report of the current weather conditions in the vicinity of an aerodrome. Use this endpoint to get the most up-to-date METAR information.","operationId":"getMetar","parameters":[{"name":"icaoCode","in":"path","description":"ICAO code","required":true,"schema":{"type":"string"},"example":"KJFK"}],"responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/GetMetarResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/airports\/{icaoCode}\/taf":{"get":{"tags":["Airports"],"summary":"Get TAF by airport","description":"TAF (Terminal Aerodrome Forecast) is a weather forecast information service provided by airports to serve the surrounding air traffic. TAF reports are updated several times throughout the day to ensure that pilots have access to the most up-to-date information as possible. You can use this endpoint to get the latest weather information for a specific airport.","operationId":"getTaf","parameters":[{"name":"icaoCode","in":"path","description":"ICAO code","required":true,"schema":{"type":"string"},"example":"KJFK"}],"responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/GetTafResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/airspace\/natTracks":{"get":{"tags":["Airspace"],"summary":"NAT (North Atlantic Tracks)","description":"The North Atlantic Tracks are high altitude routes across the atlantic between Western Europe and North America. The tracks are updated daily. Use this endpoint to get the most up-to-date tracks","operationId":"getNatTracks","responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/GetNatPacTracksResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/airspace\/pacTracks":{"get":{"tags":["Airspace"],"summary":"PAC (Pacific Organized Track System - PACOTS) ","description":"Pacific Organized Track System describes the set of routes across the Pacific between Hawaii or North America and Japan\/South-east Asia - updated on a daily basis. Use this endpoint to get the most up-to-date information.","operationId":"getPacTracks","responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/GetNatPacTracksResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/airspace\/{icaoCode}\/notams":{"get":{"tags":["Airspace"],"summary":"Get NOTAMS by airport","description":"NOTAMs (NOtice To AirMen) are a way of local aviation authorities alerting pilots of potential hazards. Use this endpoint if you want to see the alerts that are relevant for a specific airport.","operationId":"getNotams","parameters":[{"name":"icaoCode","in":"path","description":"ICAO code","required":true,"schema":{"type":"string"},"example":"KJFK"}],"responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/GetNotamsResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/billing\/status":{"get":{"tags":["Billing"],"summary":"Get the current billing status","description":"Use this endpoint if you woould like to view details on the current usage of credit in your account","operationId":"status","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/BillingStatusResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/billing\/usage":{"get":{"tags":["Billing"],"summary":"Get the latest token usage statistics","description":"Use this endpoint if you would like to view the latest usage of your token","operationId":"usage","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"fromDate","in":"query","description":"Show usage from this date only","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"toDate","in":"query","description":"Show usage to this date only","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/BillingUsageResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/flights\/geosearch":{"post":{"tags":["Flights"],"summary":"Search flights by geographical area","description":"Use this endpoint if you are interested in knowing which flights have flown over a particular geographical area at a given point in time","operationId":"geosearch","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Request page","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/GeoSearchQuery"}}}},"responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/FlightsResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/flights\/live":{"post":{"tags":["Flights"],"summary":"Get live flights ","description":"Use this endpoint if your goal is to get real time information for live flights, either if you are looking for a specific geographical location or particular aircraft\/airline\/airport.","operationId":"aircraftPosition","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/RtAircraftPositionQuery"}}}},"responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/FlightsResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/flights\/schedules":{"get":{"tags":["Flights"],"summary":"Get scheduled flights","description":"Use this endpoint if you want to know schedules of future flights","operationId":"getScheduledFlights","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"flightId","in":"query","description":"Flight ID\/Number (ICAO or IATA","required":false,"schema":{"type":"string"}},{"name":"fromAirport","in":"query","description":"Request only flights departing from this airport (IATA\/ICAO)","required":false,"schema":{"type":"string"}},{"name":"toAirport","in":"query","description":"Request only flights arriving to this airport (IATA\/ICAO)","required":false,"schema":{"type":"string"}},{"name":"airline","in":"query","description":"Request only flights for this airline","required":false,"schema":{"type":"string"}},{"name":"departureFromDate","in":"query","description":"Request only flights that depart from this date onwards","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"departureToDate","in":"query","description":"Request only flights that depart until this date","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"arrivalFromDate","in":"query","description":"Request only flights that arrive from this date onwards","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"arrivalToDate","in":"query","description":"Request only flights that arrive until this date","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/ScheduledFlightsResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/flights\/search":{"post":{"tags":["Flights"],"summary":"Search flights","description":"Use this endpoint for general flight searches - past, present or future (scheduled) - based on departure\/arrival location or individual flights and tail numbers. The search always needs to be restricted by date (either departure, arrival or both).","operationId":"search","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Request page","required":false,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"pageSize","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32"},"example":10}],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/FlightsQuery"}}}},"responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/FlightsResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/statistics\/airline\/{icaoCode}":{"get":{"tags":["Statistics"],"summary":"Statistics for a specific airline","description":"Get detailed statistics for a specific airline","operationId":"getAirlineStatistics","parameters":[{"name":"icaoCode","in":"path","description":"ICAO code","required":true,"schema":{"type":"string"},"example":"KJFK"}],"responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/AirlineStatisticsResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/statistics\/airlines":{"get":{"tags":["Statistics"],"summary":"Statistics for major airlines","description":"Get statistics for major airlines","operationId":"getAirlinesStatistics","responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/AirlineStatisticsResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/statistics\/airports":{"get":{"tags":["Statistics"],"summary":"Statistics for major airports","description":"Get statistics for a specific airport","operationId":"getMajorAirportStatistics","responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/AirportsStatisticsResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/statistics\/airports\/business":{"get":{"tags":["Statistics"],"summary":"Statistics for business flights on major airports","description":"Get statistics for business flights on major airports","operationId":"getBusinessAirportStatistics","responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/AirportsStatisticsResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/statistics\/airports\/commercial":{"get":{"tags":["Statistics"],"summary":"Statistics for commercial flights on major airports","description":"Get statistics for commercial flights on major airports","operationId":"getCommercialAirportStatistics","responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/AirportsStatisticsResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/statistics\/flights":{"get":{"tags":["Statistics"],"summary":"Statistics for all flights","description":"Get statistics for all flights worldwide","operationId":"getFlightsStatistics","responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/FlightsStatisticsResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/statistics\/flights\/business":{"get":{"tags":["Statistics"],"summary":"Flights statistics (business)","description":"Get statistics for all business flights","operationId":"getBusinessFlightsStatistics","responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/FlightsStatisticsResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/statistics\/flights\/business\/models":{"get":{"tags":["Statistics"],"summary":"Statistics for business jet models","description":"Get statistics for business jet models","operationId":"getBusJetModelsStatisticsInternal","responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/BusinessJetModelStatisticsResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/statistics\/flights\/business\/operators":{"get":{"tags":["Statistics"],"summary":"Statistics for business jet operators","description":"Get statistics for business jet operators","operationId":"getBusJetOperatorStatisticsInternal","responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/BusinessJetOperatorStatisticsResponse"}}}}},"security":[{"bearerToken":[]}]}},"\/statistics\/flights\/commercial":{"get":{"tags":["Statistics"],"summary":"Flights statistics (commercial)","description":"Get statistics for all commercial flights","operationId":"getCommercialFlightsStatistics","responses":{"200":{"description":"default response","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/FlightsStatisticsResponse"}}}}},"security":[{"bearerToken":[]}]}}},"components":{"schemas":{"ApiCoordinates":{"title":"Position (latitude\/longitude pair","type":"object","properties":{"latitude":{"title":"Latitude","type":"number","format":"double","example":40.63},"longitude":{"title":"Longitude","type":"number","format":"double","example":-73.77}}},"ApiTaf":{"title":"TAF (Terminal Aerodrome Forecast)","type":"object","properties":{"issueTime":{"title":"Time the report was issued","type":"string","format":"date-time"},"bulletinTime":{"title":"Time of the bulletin","type":"string","format":"date-time"},"validFrom":{"title":"Time from which the report is valid","type":"string","format":"date-time"},"validUntil":{"title":"Time until which the report is valid","type":"string","format":"date-time"},"coordinates":{"$ref":"#\/components\/schemas\/ApiCoordinates"},"elevation":{"title":"Observation point elevation (in meters)","type":"integer","format":"int32","example":98},"forecast":{"title":"List of forecasts for different time slots","type":"array","items":{"$ref":"#\/components\/schemas\/ApiTafForecast"}}},"description":"Weather forecast Information provided by airports to serve the surrounding air traffic. TAF reports are updated several times throughout the day to ensure that pilots have access to the most up-to-date information as possible"},"ApiTafForecast":{"title":"TAF forecast","type":"object","properties":{"validFom":{"title":"Time from which the forecast is valid","type":"string","format":"date-time"},"validUntil":{"title":"Time until which the forecast is valid","type":"string","format":"date-time"},"windDirection":{"title":"Wind direction (in degrees)","type":"integer","format":"int32","example":310},"windSpeed":{"title":"Wind speed (in knots)","type":"integer","format":"int32","example":10},"windGust":{"title":"Wind gust (in knots)","type":"integer","format":"int32","example":20},"visibility":{"title":"Visibility (in statute miles)","type":"number","format":"double","example":6.21},"altimeter":{"title":"Altimeter (in inHg)","type":"number","format":"double","example":1026},"wx":{"title":"Weather string","type":"string","example":"NSW"},"skyCondition":{"title":"Sky conditions","type":"array","items":{"$ref":"#\/components\/schemas\/ApiTafSkyCondition"}},"icingCondition":{"title":"Icing condition","type":"string"},"turbulenceCondition":{"title":"Turbulence condition","type":"string"}},"description":"Single forecast with a valid to and from date\/time"},"ApiTafSkyCondition":{"title":"TAF sky condition","type":"object","properties":{"skyCover":{"title":"Sky cover string","type":"string","example":"NSC"},"cloudBase":{"title":"Cloud base (in ft Above Ground Level)","type":"integer","format":"int32","example":300}},"description":"Forecast of sky condition"},"GetTafResponse":{"title":"Airport TAF response","type":"object","properties":{"cost":{"title":"Cost of the operation (credits)","type":"integer","format":"int32"},"success":{"title":"Result of the operation","type":"boolean"},"comment":{"title":"Additional info about the operation","type":"string"},"totaPages":{"title":"Total pages in the dataset","type":"integer","format":"int32"},"totalRecords":{"title":"Total records in the dataset","type":"integer","format":"int32"},"pageSize":{"title":"Page size","type":"integer","format":"int32"},"currentPage":{"title":"Current page","type":"integer","format":"int32"},"apiTaf":{"$ref":"#\/components\/schemas\/ApiTaf"}}},"ApiFlightRouteStatistic":{"title":"Statistic per route","type":"object","properties":{"route":{"title":"Route description (coutry ISO code)","type":"string","example":"us_eu"},"total":{"title":"Total flights tracked","type":"integer","format":"int32","example":550}}},"ApiFlightsStatistic":{"title":"Daily flights statistics","type":"object","properties":{"day":{"title":"Statistic day","type":"string","example":"2021-05-27"},"total":{"title":"Total flights","type":"integer","format":"int32","example":145988},"routes":{"title":"Total flights per route","type":"array","items":{"$ref":"#\/components\/schemas\/ApiFlightRouteStatistic"}}}},"FlightsStatisticsResponse":{"title":"Flights statistic response","type":"object","properties":{"cost":{"title":"Cost of the operation (credits)","type":"integer","format":"int32"},"success":{"title":"Result of the operation","type":"boolean"},"comment":{"title":"Additional info about the operation","type":"string"},"totaPages":{"title":"Total pages in the dataset","type":"integer","format":"int32"},"totalRecords":{"title":"Total records in the dataset","type":"integer","format":"int32"},"pageSize":{"title":"Page size","type":"integer","format":"int32"},"currentPage":{"title":"Current page","type":"integer","format":"int32"},"statistics":{"title":"Flights statistics","type":"array","items":{"$ref":"#\/components\/schemas\/ApiFlightsStatistic"}}}},"ApiFlight":{"title":"Flight","type":"object","properties":{"callsign":{"title":"Flight call sign","type":"string"},"flightNumberIata":{"title":"Flight number (IATA)","type":"string"},"flightNumberIcao":{"title":"Flight number (ICAO)","type":"string"},"aircraftRegistration":{"title":"Aircraft registration (tail number)","type":"string"},"aircraftModeS":{"title":"Aircraft Mode-S Hex code","type":"string"},"aircraftType":{"title":"Aircraft type code (ICAO)","type":"string"},"aircraftClasses":{"title":"Aircraft class types - AIRLINER, GENERAL_AVIATION, MILITARY, UNKNOWN, BUSINESS, CARGO, HELICOPTER)","uniqueItems":true,"type":"array","items":{"title":"Aircraft class types - AIRLINER, GENERAL_AVIATION, MILITARY, UNKNOWN, BUSINESS, CARGO, HELICOPTER)","type":"string"}},"aircraftTypeDescription":{"title":"Aircraft type description","type":"string"},"airlineIata":{"title":"Airline code (IATA)","type":"string"},"airlineIcao":{"title":"Airline code (ICAO)","type":"string"},"airlineName":{"title":"Airline name","type":"string"},"depAirportIcao":{"title":"Departure airport ICAO code","type":"string"},"depAirportIata":{"title":"Departure airport IATA code","type":"string"},"depAirportName":{"title":"Departure airport name","type":"string"},"depAirportCity":{"title":"Departure airport city","type":"string"},"depAirportState":{"title":"Departure airport state","type":"string"},"depAirportCountry":{"title":"Departure airport country","type":"string"},"depAirportCountryIso2":{"title":"Departure airport ISO-2 country code","type":"string"},"depAirportCountryIso3":{"title":"Departure airport ISO-3 country code","type":"string"},"depAirportLatitude":{"title":"Departure airport laitude","type":"number","format":"double"},"depAirportLongitude":{"title":"Departure airport longitude","type":"number","format":"double"},"depAirportTz":{"title":"Departure airport timezone","type":"string"},"depAirportTzDiffUTC":{"title":"Departure airport timezone hour difference to UTC","type":"string"},"scheduledDeparture":{"title":"Scheduled time for departure (UTC)","type":"string","format":"date-time"},"estimatedDeparture":{"title":"Estimated time for departure (UTC)","type":"string","format":"date-time"},"estimatedTakeoff":{"title":"Estimated time for takeoff (UTC)","type":"string","format":"date-time"},"actualDeparture":{"title":"Actual time of departure (UTC)","type":"string","format":"date-time"},"actualTakeoff":{"title":"Actual time of takeoff (UTC)","type":"string","format":"date-time"},"calculatedTakeoff":{"title":"Calculated time of takeoff (UTC)","type":"string","format":"date-time"},"divAirportIcao":{"title":"Diversion airport ICAO code","type":"string"},"divAirportIata":{"title":"Diversion airport IATA code","type":"string"},"divAirportName":{"title":"Diversion airport name","type":"string"},"divAirportCity":{"title":"Diversion airport city","type":"string"},"divAirportState":{"title":"Diversion airport state","type":"string"},"divAirportCountry":{"title":"Diversion airport country","type":"string"},"divAirportCountryIso2":{"title":"Diversion airport ISO-2 country code","type":"string"},"divAirportCountryIso3":{"title":"Diversion airport ISO-3 country code","type":"string"},"divAirportLatitude":{"title":"Diversion airport latitude","type":"number","format":"double"},"divAirportLongitude":{"title":"Diversion airport longitude","type":"number","format":"double"},"divAirportTz":{"title":"Arrival airport timezone","type":"string"},"divAirportTzDiffUTC":{"title":"Diversion airport hour difference to UTC","type":"string"},"arrAirportIcao":{"title":"Arrival airport ICAO code","type":"string"},"arrAirportIata":{"title":"Arrival airport IATA code","type":"string"},"arrAirportName":{"title":"Departure airport name","type":"string"},"arrAirportCity":{"title":"Arrival airport city","type":"string"},"arrAirportState":{"title":"Arrival airport state","type":"string"},"arrAirportCountry":{"title":"Arrival airport country","type":"string"},"arrAirportCountryIso2":{"title":"Arrival airport ISO-2 country code","type":"string"},"arrAirportCountryIso3":{"title":"Arrival airport ISO-3 country code","type":"string"},"arrAirportLatitude":{"title":"Arrival airport latitude","type":"number","format":"double"},"arrAirportLongitude":{"title":"Arrival airport longitude","type":"number","format":"double"},"arrAirportTz":{"title":"Arrival airport timezone","type":"string"},"arrAirportTzDiffUTC":{"title":"Arrival airport hour difference to UTC","type":"string"},"scheduledArrival":{"title":"Scheduled time of arrival (UTC)","type":"string","format":"date-time"},"estimatedArrival":{"title":"Estimated time of arrival (UTC)","type":"string","format":"date-time"},"estimatedLanding":{"title":"Estimated time of landing (UTC)","type":"string","format":"date-time"},"actualArrival":{"title":"Actual time of arrival (UTC)","type":"string","format":"date-time"},"actualLanding":{"title":"Actual time of landing (UTC)","type":"string","format":"date-time"},"calculatedLanding":{"title":"Calculated time of landing (UTC)","type":"string","format":"date-time"},"departureStatus":{"title":"Departure status","type":"string","enum":["CX - cancelled","DY - delayed","EY - early","OT - on time","NS - no status"]},"departureDelayReason":{"title":"Departure delay reason","type":"string","enum":["1: Airline internal","2: Airline internal","3: Airline Controlled Delay","4: Downline Delay","5: Other","6: None","9: Scheduled ground time less than declared minimum ground time","11: Late check-in - acceptance after deadline","12: Late check-in - congestion in check-in area","13: Check-in error - congestion in check-in area","14: Oversales - booking errors","15: Boarding - discrepancies and paging missing checked-in passenger","16: Commercial publicity\/passenger convenience - VIP, press, ground meals and missing personal items","17: Catering order - late or incorrect order given to supplier","18: Baggage processing - sorting etc.","21: Documentation - errors etc","22: Late positioning","23: Late acceptance","24: Inadequate packing","25: Oversales - booking errors","26: Late preparation in warehouse","27: Documentation packing - etc","28: Late positioning","29: Late acceptance","31: Aircraft documentation late\/inaccurate - weight and balance general declaration pax manifest etc","32: Loading\/unloading - bulky special load cabin load lack of loading staff","33: Loading equipment - lack of or breakdown e.g. container pallet loader lack of staff","34: Servicing equipment - lack of or breakdown lack of staff e.g. steps","35: Aircraft cleaning","36: Fuelling\/defuelling - fuel supplier","37: Catering - late delivery or loading","38: Uld - lack of or serviceability","39: Technical equipment - lack of or breakdown lack of staff e.g. pushback","41: Aircraft defects","42: Scheduled maintenance - late release","43: Non-scheduled","44: Spares and maintenance","45: Aog spares - to be carried to another station","46: Aircraft change - for technical reasons","47: Standby aircraft - lack of planned standby aircraft for technical reasons","48: Scheduled cabin configuration\/version adjustments","51: Damage during flight operations - bird or lightning strike, turbulence, heavy or overweight landing, collision during taxiing","52: Damage during ground operations - collisions (other than during taxiing), loading\/off-loading damage, contamination, towing, extreme weather conditions","55: Departure control","56: Cargo preparation","57: Flight plans","61: Flight plan - late completion or change of flight documentation","62: Operational requirements - fuel load alteration","63: Late crew procedures - other than connection and standby (flight deck or entire crew)","64: Flight desk crew shortage - sickness, awaiting standby, flight time limitations, crew meals, valid visa, health documents, etc","65: Flight deck crew special request - not within operational requirements","66: Late cabin crew boarding or departure procedures - other than connection and standby","67: Cabin crew shortage - sickness, awaiting standby, flight time limitations, crew meals, valid visa, health documents, etc","68: Cabin crew error or special request - not within operational requirements","69: Captain request for security check - extraordinary","71: Departure station","72: Destination station","73: En route or alternate","75: De-icing of aircraft - Removal of ice and\/or snow frost prevention equipment","76: Removal of snow ice water and sand from airport","77: Ground handling impaired by adverse weather conditions","81: ATFM due to ATC en-route demand\/capacity - standard demand\/capacity problems","82: ATFM due to ATC staff \/ equipment en-route - reduced capacity caused by industrial action or staff shortage or equipment failure, extraordinary demand due to capacity reduction in neighbouring area","83: ATFM due to restriction at destination airport - airport and\/or runway closed due to obstruction, industrial action, staff shortage, political unrest, noise abatement, night curfew, special flights","84: ATFM due to weather at destination","85: Mandatory security","86: Immigration customs health","87: Airport facilities - parking stands, ramp congestion, lighting, buildings, gate limitations, etc","88: Restrictions at airport of destination - airport and\/or runway closed due to obstruction, industrial action, staff shortage, political unrest, noise abatement, night curfew, special flights","89: Restrictions at airport of departure with or without ATFM restrictions - incl. Air Traf. Svcs, startup\/pushbk, apt and\/or runwy closed due to obstruction\/weather, industl. actn, staff shortage, political unrest, noise abatement, night curfew, special flts","91: Load connection - awaiting load from another flight","92: Through check-in error - passenger and baggage","93: Aircraft rotation - late arrival of aircraft from another flight or previous sector","94: Cabin crew rotation - awaiting cabin crew from another flight","95: Crew rotation - awaiting crew from another flight (flight desk or entire crew)","96: Operational control - rerouting diversion consolidation aircraft change for reason other than technical","97: Industrial action with own airline","98: Industrial action outside own airline - excluding A.T.S.","99: This code shall be used only when it is clear that a reason cannot be matched to any other code"]},"departureDelayDetail":{"title":"Departure delay detail","type":"string","enum":["ARVS - No delays posted","CNCL - Cancelled flight","CXCL - Cancelled","DCSN - Check with airline","DPTS - No delays posted","EOFF - Estimated Wheels Up\/Airborne","EON - Estimated Wheels Down\/Touchdown","ETA - Estimated time of arrival","ETD - Estimated time of departure","IN - Arrived in the gate","LX - Cancelled leg","NA - Not Available","NO - No-op","OFF - Departed off the ground","ON - Arrived on the ground","OUT - Departed out of the gate","RFA - Return from Airborne","RTR - Return to Ramp","SCHD - Schedule Change"]},"departureGate":{"title":"Departure gate","type":"string"},"departureTerminal":{"title":"Departure terminal","type":"string"},"arrivalStatus":{"title":"Arrival status","type":"string","enum":["CX - cancelled","DY - delayed","EY - early","OT - on time","NS - no status"]},"arrivalDelayReason":{"title":"Arrival delay reason","type":"string","enum":["1: Airline internal","2: Airline internal","3: Airline Controlled Delay","4: Downline Delay","5: Other","6: None","9: Scheduled ground time less than declared minimum ground time","11: Late check-in - acceptance after deadline","12: Late check-in - congestion in check-in area","13: Check-in error - congestion in check-in area","14: Oversales - booking errors","15: Boarding - discrepancies and paging missing checked-in passenger","16: Commercial publicity\/passenger convenience - VIP, press, ground meals and missing personal items","17: Catering order - late or incorrect order given to supplier","18: Baggage processing - sorting etc.","21: Documentation - errors etc","22: Late positioning","23: Late acceptance","24: Inadequate packing","25: Oversales - booking errors","26: Late preparation in warehouse","27: Documentation packing - etc","28: Late positioning","29: Late acceptance","31: Aircraft documentation late\/inaccurate - weight and balance general declaration pax manifest etc","32: Loading\/unloading - bulky special load cabin load lack of loading staff","33: Loading equipment - lack of or breakdown e.g. container pallet loader lack of staff","34: Servicing equipment - lack of or breakdown lack of staff e.g. steps","35: Aircraft cleaning","36: Fuelling\/defuelling - fuel supplier","37: Catering - late delivery or loading","38: Uld - lack of or serviceability","39: Technical equipment - lack of or breakdown lack of staff e.g. pushback","41: Aircraft defects","42: Scheduled maintenance - late release","43: Non-scheduled","44: Spares and maintenance","45: Aog spares - to be carried to another station","46: Aircraft change - for technical reasons","47: Standby aircraft - lack of planned standby aircraft for technical reasons","48: Scheduled cabin configuration\/version adjustments","51: Damage during flight operations - bird or lightning strike, turbulence, heavy or overweight landing, collision during taxiing","52: Damage during ground operations - collisions (other than during taxiing), loading\/off-loading damage, contamination, towing, extreme weather conditions","55: Departure control","56: Cargo preparation","57: Flight plans","61: Flight plan - late completion or change of flight documentation","62: Operational requirements - fuel load alteration","63: Late crew procedures - other than connection and standby (flight deck or entire crew)","64: Flight desk crew shortage - sickness, awaiting standby, flight time limitations, crew meals, valid visa, health documents, etc","65: Flight deck crew special request - not within operational requirements","66: Late cabin crew boarding or departure procedures - other than connection and standby","67: Cabin crew shortage - sickness, awaiting standby, flight time limitations, crew meals, valid visa, health documents, etc","68: Cabin crew error or special request - not within operational requirements","69: Captain request for security check - extraordinary","71: Departure station","72: Destination station","73: En route or alternate","75: De-icing of aircraft - Removal of ice and\/or snow frost prevention equipment","76: Removal of snow ice water and sand from airport","77: Ground handling impaired by adverse weather conditions","81: ATFM due to ATC en-route demand\/capacity - standard demand\/capacity problems","82: ATFM due to ATC staff \/ equipment en-route - reduced capacity caused by industrial action or staff shortage or equipment failure, extraordinary demand due to capacity reduction in neighbouring area","83: ATFM due to restriction at destination airport - airport and\/or runway closed due to obstruction, industrial action, staff shortage, political unrest, noise abatement, night curfew, special flights","84: ATFM due to weather at destination","85: Mandatory security","86: Immigration customs health","87: Airport facilities - parking stands, ramp congestion, lighting, buildings, gate limitations, etc","88: Restrictions at airport of destination - airport and\/or runway closed due to obstruction, industrial action, staff shortage, political unrest, noise abatement, night curfew, special flights","89: Restrictions at airport of departure with or without ATFM restrictions - incl. Air Traf. Svcs, startup\/pushbk, apt and\/or runwy closed due to obstruction\/weather, industl. actn, staff shortage, political unrest, noise abatement, night curfew, special flts","91: Load connection - awaiting load from another flight","92: Through check-in error - passenger and baggage","93: Aircraft rotation - late arrival of aircraft from another flight or previous sector","94: Cabin crew rotation - awaiting cabin crew from another flight","95: Crew rotation - awaiting crew from another flight (flight desk or entire crew)","96: Operational control - rerouting diversion consolidation aircraft change for reason other than technical","97: Industrial action with own airline","98: Industrial action outside own airline - excluding A.T.S.","99: This code shall be used only when it is clear that a reason cannot be matched to any other code"]},"arrivalDelayDetail":{"title":"Arrival delay detail","type":"string","enum":["ARVS - No delays posted","CNCL - Cancelled flight","CXCL - Cancelled","DCSN - Check with airline","DPTS - No delays posted","EOFF - Estimated Wheels Up\/Airborne","EON - Estimated Wheels Down\/Touchdown","ETA - Estimated time of arrival","ETD - Estimated time of departure","IN - Arrived in the gate","LX - Cancelled leg","NA - Not Available","NO - No-op","OFF - Departed off the ground","ON - Arrived on the ground","OUT - Departed out of the gate","RFA - Return from Airborne","RTR - Return to Ramp","SCHD - Schedule Change"]},"arrivalGate":{"title":"Arrival gate","type":"string"},"arrivalTerminal":{"title":"Arrival terminal","type":"string"},"arrivalBaggageClaim":{"title":"Arrival status (IATA code)","type":"string"},"groundSpeed":{"title":"Ground speed (knots)","type":"integer","format":"int64"},"heading":{"title":"Heading (degrees)","type":"integer","format":"int64"},"altitude":{"title":"Altitude (feet)","type":"integer","format":"int64"},"verticalRate":{"title":"Verical rate (ft\/min)","type":"integer","format":"int64"},"latitude":{"title":"Latitude","type":"number","format":"double"},"longitude":{"title":"Longitude","type":"number","format":"double"},"squawkCode":{"title":"Squawk code","type":"integer","format":"int64"},"source":{"title":"Source of the latest position data (ADSB, MLAT, ASDI, OCEA, SATE, HFDL, ASDEX)","type":"string"},"created":{"title":"Date this flight record was created","type":"string","format":"date-time"},"updated":{"title":"Date this flight record was last updated","type":"string","format":"date-time"},"positions":{"title":"Sequence of flight path positions","type":"array","items":{"$ref":"#\/components\/schemas\/ApiTrail"}},"flightUrl":{"title":"Direct link to the flight's page on Radarbox.com","type":"string"},"flightKml":{"title":"Direct link to the flight's track log (KML) on Radarbox.com","type":"string"},"flightCSV":{"title":"Direct link to the flight's track log (CSV) on Radarbox.com","type":"string"},"flightGeoJSON":{"title":"Direct link to the flight's track log (GeoJSON) on Radarbox.com","type":"string"},"icaoRoute":{"title":"Planned route (ICAO)","type":"string"},"codeshares":{"title":"Other codeshares associated with this flight","type":"string"},"status":{"type":"string","enum":["IN_FLIGHT","CANCELLED","SCHEDULED","LANDED","ON_GROUND","UNKNOWN"]}}},"ApiTrail":{"title":"Position","type":"object","properties":{"groundSpeed":{"title":"Ground speed (knots)","type":"integer","format":"int64"},"heading":{"title":"Heading (degrees)","type":"integer","format":"int64"},"altitude":{"title":"Altitude (feet)","type":"integer","format":"int64"},"verticalRate":{"title":"Verical rate (ft\/min)","type":"integer","format":"int64"},"latitude":{"title":"Latitude","type":"number","format":"double"},"longitude":{"title":"Longitude","type":"number","format":"double"},"squawkCode":{"title":"Squawk code","type":"integer","format":"int64"},"source":{"title":"Source of the position data (ADSB, MLAT, ASDI, OCEA, SATE, HFDL, ASDEX)","type":"string"},"timestamp":{"title":"Time the position was recorded","type":"string","format":"date-time"}}},"ScheduledFlightsResponse":{"type":"object","properties":{"cost":{"title":"Cost of the operation (credits)","type":"integer","format":"int32"},"success":{"title":"Result of the operation","type":"boolean"},"comment":{"title":"Additional info about the operation","type":"string"},"totaPages":{"title":"Total pages in the dataset","type":"integer","format":"int32"},"totalRecords":{"title":"Total records in the dataset","type":"integer","format":"int32"},"pageSize":{"title":"Page size","type":"integer","format":"int32"},"currentPage":{"title":"Current page","type":"integer","format":"int32"},"flights":{"title":"List of flights","type":"array","items":{"$ref":"#\/components\/schemas\/ApiFlight"}}}},"BillingStatusResponse":{"type":"object","properties":{"cost":{"title":"Cost of the operation (credits)","type":"integer","format":"int32"},"success":{"title":"Result of the operation","type":"boolean"},"comment":{"title":"Additional info about the operation","type":"string"},"totaPages":{"title":"Total pages in the dataset","type":"integer","format":"int32"},"totalRecords":{"title":"Total records in the dataset","type":"integer","format":"int32"},"pageSize":{"title":"Page size","type":"integer","format":"int32"},"currentPage":{"title":"Current page","type":"integer","format":"int32"},"availableCredit":{"type":"integer","format":"int32"},"subscriptionAmount":{"type":"integer","format":"int32"},"usedCredit":{"type":"integer","format":"int32"},"active":{"type":"boolean"},"autoScaleEnabled":{"type":"boolean"},"currentBillingCycleStart":{"type":"string","format":"date-time"},"currentBillingCycleEnd":{"type":"string","format":"date-time"},"lowestDayUsageAmount":{"type":"integer","format":"int64"},"lowestDayUsageDate":{"type":"string"},"highestDayUsageAmount":{"type":"integer","format":"int64"},"highestDayUsageDate":{"type":"string"}}},"AirlineStatisticsResponse":{"title":"Airports statistics request","type":"object","properties":{"cost":{"title":"Cost of the operation (credits)","type":"integer","format":"int32"},"success":{"title":"Result of the operation","type":"boolean"},"comment":{"title":"Additional info about the operation","type":"string"},"totaPages":{"title":"Total pages in the dataset","type":"integer","format":"int32"},"totalRecords":{"title":"Total records in the dataset","type":"integer","format":"int32"},"pageSize":{"title":"Page size","type":"integer","format":"int32"},"currentPage":{"title":"Current page","type":"integer","format":"int32"},"airlineStatistics":{"title":"Aggregated statistics per day","type":"array","items":{"$ref":"#\/components\/schemas\/ApiAirlineStatistics"}}}},"ApiAircraftTypeUtilization":{"title":"Aircraft type statistic","type":"object","properties":{"aircraftType":{"title":"Aircraft Type","type":"string"},"totalAircraft":{"title":"Total aircraft of this type","type":"integer","format":"int32"},"apiAircraftUtilizationPeriods":{"title":"Statistics periods","type":"array","items":{"$ref":"#\/components\/schemas\/ApiAircraftTypeUtilizationPeriod"}}}},"ApiAircraftTypeUtilizationPeriod":{"title":"Airline statistic","type":"object","properties":{"period":{"title":"Statistics Period","type":"string"},"averageFlightDistance":{"title":"Average flight distance (nautical miles)","type":"number","format":"float"},"averageFlightDuration":{"title":"Average flight duration (hours)","type":"number","format":"float"},"averageFlightsDay":{"title":"Average flights per day","type":"number","format":"float"},"averageFlightHoursDay":{"title":"Average flight hours per day","type":"number","format":"float"}}},"ApiAirlineStatistic":{"title":"Airline statistic","type":"object","properties":{"icaoCode":{"title":"Airline ICAO code","type":"string"},"totalFlights":{"title":"Total flights performed by the airline on that date","type":"integer","format":"int32"}}},"ApiAirlineStatistics":{"title":"Airline statistics","type":"object","properties":{"day":{"title":"Statistics day","type":"string"},"icaoCode":{"title":"Airline ICAO code","type":"string"},"statistics":{"title":"List of statistics for the current day","type":"array","items":{"$ref":"#\/components\/schemas\/ApiAirlineStatistic"}},"aircraftUtilization":{"title":"Aircraft utilization","type":"array","items":{"$ref":"#\/components\/schemas\/ApiAircraftTypeUtilization"}},"monthAircraftUtilization":{"title":"Aircraft utilization breakdown (month)","type":"array","items":{"$ref":"#\/components\/schemas\/ApiAircraftTypeUtilization"}}}},"ApiNotam":{"title":"NOTAM (NOtice To AirMen)","type":"object","properties":{"number":{"title":"Number of the report","type":"integer","format":"int64","example":327},"id":{"title":"ID of the report","type":"string","example":"05\/327"},"notamClass":{"title":"Class of the report","type":"string","example":"Domestic"},"year":{"title":"Year of the report","type":"string","example":"2021"},"type":{"title":"Type of the report","type":"string","example":"N"},"effectiveStart":{"title":"Start date (UTC)","type":"string","format":"date-time"},"effectiveEnd":{"title":"End date (UTC)","type":"string","format":"date-time"},"icaoLocation":{"title":"ICAO code of the location","type":"string","example":"KJFK"},"issued":{"title":"Date the notice has been issue","type":"string","format":"date-time"},"affectedFir":{"title":"Code of the affected FIR","type":"string","example":"ZNY"},"minimumFlightLevel":{"title":"Applicable minimum flight level","type":"string","example":"000"},"maximumFlightLevel":{"title":"Applicable maximum flight level","type":"string","example":"999"},"radius":{"title":"Applicable radius","type":"string","example":"5"},"location":{"title":"Location","type":"string","example":"JFK"},"text":{"title":"Full text","type":"string","example":"RWY 13R\/31L CLSD"},"translations":{"title":"Translation","type":"array","items":{"$ref":"#\/components\/schemas\/ApiNotamTranslation"}}},"description":"NOTAMs are a way of local aviation authorities alerting pilots of potential hazards"},"ApiNotamTranslation":{"title":"Translation","type":"object","properties":{"type":{"title":"Translation type","type":"string","example":"LOCAL_FORMAT"},"text":{"title":"Translation text","type":"string","example":"!JFK 05\/327 JFK RWY 13R\/31L CLSD 2105280300-2105281100"}}},"GetNotamsResponse":{"type":"object","properties":{"cost":{"title":"Cost of the operation (credits)","type":"integer","format":"int32"},"success":{"title":"Result of the operation","type":"boolean"},"comment":{"title":"Additional info about the operation","type":"string"},"totaPages":{"title":"Total pages in the dataset","type":"integer","format":"int32"},"totalRecords":{"title":"Total records in the dataset","type":"integer","format":"int32"},"pageSize":{"title":"Page size","type":"integer","format":"int32"},"currentPage":{"title":"Current page","type":"integer","format":"int32"},"apiNotams":{"title":"Airport NOTAMs","type":"array","items":{"$ref":"#\/components\/schemas\/ApiNotam"}}}},"ApiAircraft":{"title":"Aircraft","type":"object","properties":{"modeS":{"title":"Mode-S Hex code","type":"string","example":"A98909"},"registration":{"title":"Registration (tail number)","type":"string","example":"N713UW"},"typeIcao":{"title":"Aircraft type (ICAO code)","type":"string","example":"A319"},"typeIata":{"title":"Aircraft type (IATA code)","type":"string","example":"32D"},"typeDescription":{"title":"Aircraft type description","type":"string","example":"Airbus A319-112"},"classDescription":{"title":"Aircraft class","type":"string","example":"A"},"companyIcao":{"title":"Aircraft company (ICAO code)","type":"string","example":"AAL"},"companyName":{"title":"Aircraft company name","type":"string","example":"American Airlines"},"firstFlight":{"title":"Date of first flight","type":"string","format":"date-time"},"serialNumber":{"title":"Manufacturer serial number","type":"string","example":"1040"},"photos":{"title":"Aircraft photos (URLS)","type":"array","items":{"title":"Aircraft photos (URLS)","type":"string"}},"aircraftStatitics":{"title":"Aircraft utilization statistics","type":"array","items":{"$ref":"#\/components\/schemas\/ApiAircraftStatistic"}}}},"ApiAircraftStatistic":{"title":"Aircraft statistic","type":"object","properties":{"year":{"title":"Statistic year","type":"integer","format":"int32","example":2021},"month":{"title":"Statistic month (1-12)","type":"integer","format":"int32","example":4},"distance":{"title":"Total distance travelled (nautical miles)","type":"number","format":"double","example":42955.77},"duration":{"title":"Total flight time (hours)","type":"number","format":"double","example":123.89},"activeDays":{"title":"Total days active","type":"integer","format":"int32","example":753},"flights":{"title":"Total flights performed","type":"integer","format":"int32","example":72},"airportMovements":{"title":"Airports where the aircraft was tracked","type":"array","items":{"$ref":"#\/components\/schemas\/ApiStatisticAirport"}}}},"ApiStatisticAirport":{"title":"Movements per airport statistic","type":"object","properties":{"icaoCode":{"title":"Airport ICAO code","type":"string","example":"KDFW"},"movements":{"title":"Total movements in this airport","type":"integer","format":"int32","example":48}}},"GetAircraftResponse":{"title":"Aircraft details","type":"object","properties":{"cost":{"title":"Cost of the operation (credits)","type":"integer","format":"int32"},"success":{"title":"Result of the operation","type":"boolean"},"comment":{"title":"Additional info about the operation","type":"string"},"totaPages":{"title":"Total pages in the dataset","type":"integer","format":"int32"},"totalRecords":{"title":"Total records in the dataset","type":"integer","format":"int32"},"pageSize":{"title":"Page size","type":"integer","format":"int32"},"currentPage":{"title":"Current page","type":"integer","format":"int32"},"aircraft":{"$ref":"#\/components\/schemas\/ApiAircraft"}}},"ApiDatis":{"title":"D-ATIS (Data link - Automatic Terminal Information Service)","type":"object","properties":{"datisTime":{"title":"Time the report was issued","type":"integer","format":"int64"},"header":{"title":"Information header","type":"string","example":"AD JFK \/OS CO1051"},"body":{"title":"Message body","type":"string","example":"-  JFK ATIS INFO O 1051Z. 06011KT 10SM FEW075 SCT100 BKN210 16\/07 A3008 (THREE ZERO ZERO EIGHT). APPROACH IN USE ILS RY 4R, ILS RY 4L. DEPG RY 4L. NOTAMS... JFK VOR OTS. FDC NOTAMS NATIONALLY UNAVAILABLE UFN. BIRD ACTIVITY VICINITY ARPT. NUM CRANES OPERATING AT JFK. READBACK ALL RWY HOLD SHORT INSTRUCTIONS. ...ADVS YOU HAVE INFO O."}},"description":"ATIS is a service that continuously broadcasts aeronautical information around the airport. D-ATIS is the text transcription of the information provided by it."},"GetDatisResponse":{"title":"Airport D-ATIS response","type":"object","properties":{"cost":{"title":"Cost of the operation (credits)","type":"integer","format":"int32"},"success":{"title":"Result of the operation","type":"boolean"},"comment":{"title":"Additional info about the operation","type":"string"},"totaPages":{"title":"Total pages in the dataset","type":"integer","format":"int32"},"totalRecords":{"title":"Total records in the dataset","type":"integer","format":"int32"},"pageSize":{"title":"Page size","type":"integer","format":"int32"},"currentPage":{"title":"Current page","type":"integer","format":"int32"},"apiDatis":{"$ref":"#\/components\/schemas\/ApiDatis"}}},"ApiMetar":{"title":"METAR (METeorological Aerodrome Report)","type":"object","properties":{"observationTime":{"title":"Time of the report","type":"string","format":"date-time"},"coordinates":{"$ref":"#\/components\/schemas\/ApiCoordinates"},"temperature":{"title":"Temperature (in celsius)","type":"integer","format":"int32","example":15},"dewPoint":{"title":"Dew point (in celsius)","type":"integer","format":"int32","example":20},"windDirection":{"title":"Wind direction (in degrees)","type":"integer","format":"int32","example":220},"windSpeed":{"title":"Wind speed (in knots)","type":"integer","format":"int32","example":7},"visibility":{"title":"Visibility (in statute miles)","type":"number","format":"double","example":10},"altimeter":{"title":"Altimeter (in inHg)","type":"number","format":"double","example":30.041338},"auto":{"title":"Indicates if the report is from an automated source (e.g. ASOS station)","type":"boolean","example":false},"wx":{"title":"Weather string","type":"string"},"skyCover":{"title":"Sky cover string","type":"string","example":"BKN"},"cloudBase":{"title":"Cloud base (in ft Above Ground Level)","type":"integer","format":"int32","example":21000},"flightCategory":{"title":"Flight category","type":"string","example":"VFR"},"metarType":{"title":"Metar type","type":"string","example":"METAR"},"elevation":{"title":"Observation point elevation (in meters)","type":"integer","format":"int32","example":3},"rawText":{"title":"Raw METAR text","type":"string"},"observationHour":{"title":"Time of the report (hour)","type":"string","format":"date-time"}},"description":"METARs provide a report of the current weather conditions in the vicinity of an aerodrome"},"GetMetarResponse":{"title":"Airport METAR response","type":"object","properties":{"cost":{"title":"Cost of the operation (credits)","type":"integer","format":"int32"},"success":{"title":"Result of the operation","type":"boolean"},"comment":{"title":"Additional info about the operation","type":"string"},"totaPages":{"title":"Total pages in the dataset","type":"integer","format":"int32"},"totalRecords":{"title":"Total records in the dataset","type":"integer","format":"int32"},"pageSize":{"title":"Page size","type":"integer","format":"int32"},"currentPage":{"title":"Current page","type":"integer","format":"int32"},"apiMetar":{"$ref":"#\/components\/schemas\/ApiMetar"}}},"AirportsStatisticsResponse":{"title":"Airports statistics response","type":"object","properties":{"cost":{"title":"Cost of the operation (credits)","type":"integer","format":"int32"},"success":{"title":"Result of the operation","type":"boolean"},"comment":{"title":"Additional info about the operation","type":"string"},"totaPages":{"title":"Total pages in the dataset","type":"integer","format":"int32"},"totalRecords":{"title":"Total records in the dataset","type":"integer","format":"int32"},"pageSize":{"title":"Page size","type":"integer","format":"int32"},"currentPage":{"title":"Current page","type":"integer","format":"int32"},"statistics":{"title":"Airports statistics","type":"array","items":{"$ref":"#\/components\/schemas\/ApiAirportStatistics"}}}},"ApiAirportStatistic":{"title":"Airport statistic","type":"object","properties":{"icaoCode":{"title":"Airport ICAO code","type":"string","example":"VABB"},"totalFlights":{"title":"Total scheduled flights tracked","type":"integer","format":"int32","example":198},"totalRegistrations":{"title":"Total registrations tracked","type":"integer","format":"int32"},"totalAirports":{"title":"Total airports tracked","type":"integer","format":"int32"},"totalAirlines":{"title":"Total airlines tracked","type":"integer","format":"int32"},"registrations":{"title":"Individual registrations tracked","type":"object","additionalProperties":{"title":"Individual registrations tracked","type":"integer","format":"int32"}},"airports":{"title":"Individual airports tracked","type":"object","additionalProperties":{"title":"Individual airports tracked","type":"integer","format":"int32"}},"airlines":{"title":"Individual airlines tracked","type":"object","additionalProperties":{"title":"Individual airlines tracked","type":"integer","format":"int32"}}}},"ApiAirportStatistics":{"title":"Airport statistics","type":"object","properties":{"day":{"title":"Statistics day","type":"string","example":"2021-05-27"},"airportStatistics":{"title":"List of statistics for the current day","type":"array","items":{"$ref":"#\/components\/schemas\/ApiAirportStatistic"}}}},"ApiAirport":{"title":"Flight","type":"object","properties":{"icaoCode":{"title":"Airport's ICAO code","type":"string"},"iataCode":{"title":"Airport's IATA code","type":"string"},"name":{"title":"Airport's name","type":"string"},"city":{"title":"Airport's city","type":"string"},"state":{"title":"Airport's state","type":"string"},"mainAirport":{"title":"Main airport","type":"boolean"},"country":{"title":"Airport's country","type":"string"},"countryIso2":{"title":"Airport's ISO-2 country code","type":"string"},"countryIso3":{"title":"Airport's ISO-3 country code","type":"string"},"elevation":{"title":"Airport's elevation (ft)","type":"integer","format":"int32"},"coordinates":{"$ref":"#\/components\/schemas\/Coordinates"},"runways":{"title":"Airport's runways","type":"array","items":{"$ref":"#\/components\/schemas\/ApiRunway"}},"timeZone":{"title":"Airport's time zone","type":"string"},"takeoffActiveRunways":{"title":"Runways in use for takeoff","type":"array","items":{"$ref":"#\/components\/schemas\/ApiRunwayInUse"}},"landingActiveRunways":{"title":"Runways in use for landing","type":"array","items":{"$ref":"#\/components\/schemas\/ApiRunwayInUse"}}}},"ApiRunway":{"title":"Runway","type":"object","properties":{"name":{"title":"Runway name","type":"string"},"course":{"title":"Course (real heading)","type":"integer","format":"int32"},"length":{"title":"Length (ft)","type":"integer","format":"int32"},"elevation":{"title":"Elevation (ft)","type":"integer","format":"int32"},"coordinates":{"$ref":"#\/components\/schemas\/Coordinates"},"ilsCourse":{"title":"ILS Course","type":"string"}}},"ApiRunwayInUse":{"title":"Runway in use","type":"object","properties":{"name":{"title":"Runway name","type":"string"},"totalLandings3h":{"title":"Total landings in the last 3 hours","type":"integer","format":"int32"},"percentageLandings3h":{"title":"Percentage in use for landing","type":"number","format":"double"},"totalTakeoffs3h":{"title":"Total takeoffs in the last 3 hours","type":"integer","format":"int32"},"percentageTakeoffs3h":{"title":"Percentage in use for takeoff","type":"number","format":"double"}}},"Coordinates":{"title":"Coordinates","type":"object","properties":{"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"GetAirportResponse":{"title":"Airport response","type":"object","properties":{"cost":{"title":"Cost of the operation (credits)","type":"integer","format":"int32"},"success":{"title":"Result of the operation","type":"boolean"},"comment":{"title":"Additional info about the operation","type":"string"},"totaPages":{"title":"Total pages in the dataset","type":"integer","format":"int32"},"totalRecords":{"title":"Total records in the dataset","type":"integer","format":"int32"},"pageSize":{"title":"Page size","type":"integer","format":"int32"},"currentPage":{"title":"Current page","type":"integer","format":"int32"},"airport":{"$ref":"#\/components\/schemas\/ApiAirport"}}},"FlightsQuery":{"title":"Flights query","type":"object","properties":{"pageSize":{"title":"Page size","type":"integer","format":"int32","default":10},"page":{"title":"Page","type":"integer","format":"int32","default":1},"fromDate":{"title":"Beginning of the search window in UTC (format: yyyy:MM:ddTHH:mm:ss.sssZ)","type":"string","format":"date-time","example":"2020-01-06T00:00:00Z"},"toDate":{"title":"End of the search window in UTC (format: yyyy:MM:ddTHH:mm:ss.sssZ)","type":"string","format":"date-time","example":"2020-01-06T23:59:59Z"},"departureFromDate":{"title":"Beginning of the departure date search window in UTC (format: yyyy:MM:ddTHH:mm:ss.sssZ)","type":"string","format":"date-time","example":"2020-01-06T00:00:00Z"},"departureToDate":{"title":"End of the departure date search window in UTC (format: yyyy:MM:ddTHH:mm:ss.sssZ)","type":"string","format":"date-time","example":"2020-01-06T23:59:59Z"},"arrivalFromDate":{"title":"Beginning of the arrival date search window in UTC (format: yyyy:MM:ddTHH:mm:ss.sssZ)","type":"string","format":"date-time","example":"2020-01-06T00:00:00Z"},"arrivalToDate":{"title":"End of the arrival date search window in UTC (format: yyyy:MM:ddTHH:mm:ss.sssZ)","type":"string","format":"date-time","example":"2020-01-06T23:59:59Z"},"registrations":{"title":"Filters the results by registration\/tail-number","type":"array","example":["PH-BHO","G-YMML"],"items":{"title":"Filters the results by registration\/tail-number","type":"string","example":"[\"PH-BHO\",\"G-YMML\"]"}},"flightIds":{"title":"List of flight numbers for the flight in ICAO or IATA format","type":"array","example":["KL745","BAW195"],"items":{"title":"List of flight numbers for the flight in ICAO or IATA format","type":"string","example":"[\"KL745\",\"BAW195\"]"}},"modeSHexCodes":{"title":"Mode-s Hex codes of the aircraft","type":"array","example":["485789","4007F7"],"items":{"title":"Mode-s Hex codes of the aircraft","type":"string","example":"[\"485789\",\"4007F7\"]"}},"airlines":{"title":"Filter the results by the 3 letter ICAO code operator","type":"array","example":["BAW","KLM"],"items":{"title":"Filter the results by the 3 letter ICAO code operator","type":"string","example":"[\"BAW\",\"KLM\"]"}},"toAirports":{"title":"Filters response for flights arriving to a specific airport ICAO codes","type":"array","example":["KIAH","SKBO"],"items":{"title":"Filters response for flights arriving to a specific airport ICAO codes","type":"string","example":"[\"KIAH\",\"SKBO\"]"}},"fromAirports":{"title":"Filters response for flights departing from a specific airport ICAO codes","type":"array","example":["EHAM","EGLL"],"items":{"title":"Filters response for flights departing from a specific airport ICAO codes","type":"string","example":"[\"EHAM\",\"EGLL\"]"}},"includeFlightPaths":{"title":"Include flight path positions in the results","type":"boolean","example":false},"includeFlightUrls":{"title":"Include flight and track log","type":"boolean"},"sources":{"title":"Only show data that come from these sources","type":"array","example":["ADSB","MLAT","ASDI"],"items":{"title":"Only show data that come from these sources","type":"string","example":"[\"ADSB\",\"MLAT\",\"ASDI\"]","enum":["ADSB","ASDI","ASDEX","OCEA","MLAT","HFDL","SATE"]}},"aircraftClasses":{"title":"Filters response by aircraft class","type":"array","example":["AIRLINER","CARGO"],"items":{"title":"Filters response by aircraft class","type":"string","example":"[\"AIRLINER\",\"CARGO\"]"}}}},"FlightsResponse":{"title":"Flights response","type":"object","properties":{"cost":{"title":"Cost of the operation (credits)","type":"integer","format":"int32"},"success":{"title":"Result of the operation","type":"boolean"},"comment":{"title":"Additional info about the operation","type":"string"},"flights":{"title":"List of flights","type":"array","items":{"$ref":"#\/components\/schemas\/ApiFlight"}},"totaPages":{"title":"Total pages in the dataset","type":"integer","format":"int32"},"totalRecords":{"title":"Total records in the dataset","type":"integer","format":"int32"},"pageSize":{"title":"Page size","type":"integer","format":"int32"},"currentPage":{"title":"Current page","type":"integer","format":"int32"}}},"RtAircraftPositionQuery":{"title":"Real-time aircraft position query","type":"object","properties":{"pageSize":{"title":"Page size","type":"integer","format":"int32","default":10},"page":{"title":"Page","type":"integer","format":"int32","default":1},"registrations":{"title":"Filters the results by registration\/tail-number","type":"array","example":["G-YMML"],"items":{"title":"Filters the results by registration\/tail-number","type":"string","example":"[\"G-YMML\"]"}},"flightIds":{"title":"Filters the results by Flight number\/callsigns","type":"array","example":["AAL1054"],"items":{"title":"Filters the results by Flight number\/callsigns","type":"string","example":"[\"AAL1054\"]"}},"airlines":{"title":"Filter the results by the 3 letter ICAO code operator","type":"array","example":["BAW"],"items":{"title":"Filter the results by the 3 letter ICAO code operator","type":"string","example":"[\"BAW\"]"}},"aircraftTypes":{"title":"Filters the results by the 4 letter ICAO code aircraft type","type":"array","example":["B772"],"items":{"title":"Filters the results by the 4 letter ICAO code aircraft type","type":"string","example":"[\"B772\"]"}},"incLastKnownPos":{"title":"Flag indicating whether archived flights should be returned as well","type":"boolean","example":true},"minLatitude":{"title":"Minimum latitude for the bounding rectangle from which positions will be retrieved","type":"number","format":"double","example":0.431234},"maxLatitude":{"title":"Maximum latitude for the bounding rectangle from which positions will be retrieved","type":"number","format":"double","example":51.509776},"minLongitude":{"title":"Minimum longitude for the bounding rectangle from which positions will be retrieved","type":"number","format":"double","example":-2.962865},"maxLongitude":{"title":"Maximum longitude for the bounding rectangle from which positions will be retrieved","type":"number","format":"double","example":-0.372603},"fromAirports":{"title":"Only show flights that departed from these airports (ICAO code)","type":"array","example":["EGLL"],"items":{"title":"Only show flights that departed from these airports (ICAO code)","type":"string","example":"[\"EGLL\"]"}},"toAirports":{"title":"Only show flights that are headed to these airports (ICAO code)","type":"array","example":["EGGL"],"items":{"title":"Only show flights that are headed to these airports (ICAO code)","type":"string","example":"[\"EGGL\"]"}},"toOrFromAirports":{"title":"Only show flights that departed or are headed to these airports (ICAO code)","type":"array","example":["EGLL"],"items":{"title":"Only show flights that departed or are headed to these airports (ICAO code)","type":"string","example":"[\"EGLL\"]"}}}},"BillingTokenDailyStats":{"type":"object","properties":{"day":{"type":"string"},"totalCalls":{"type":"integer","format":"int64"},"totalCredit":{"type":"integer","format":"int64"}}},"BillingUsageResponse":{"type":"object","properties":{"cost":{"title":"Cost of the operation (credits)","type":"integer","format":"int32"},"success":{"title":"Result of the operation","type":"boolean"},"comment":{"title":"Additional info about the operation","type":"string"},"totaPages":{"title":"Total pages in the dataset","type":"integer","format":"int32"},"totalRecords":{"title":"Total records in the dataset","type":"integer","format":"int32"},"pageSize":{"title":"Page size","type":"integer","format":"int32"},"currentPage":{"title":"Current page","type":"integer","format":"int32"},"dailyUsage":{"type":"array","items":{"$ref":"#\/components\/schemas\/BillingTokenDailyStats"}}}},"GeoSearchQuery":{"title":"Geo Search Query","required":["fromDate","maxLatitude","maxLongitude","minLatitude","minLongitude","toDate"],"type":"object","properties":{"pageSize":{"title":"Page size","type":"integer","format":"int32","default":10},"page":{"title":"Page","type":"integer","format":"int32","default":1},"minLatitude":{"title":"Minimum latitude for the bounding rectangle from which positions will be retrieved","type":"number","format":"double","example":51.431234},"maxLatitude":{"title":"Maximum latitude for the bounding rectangle from which positions will be retrieved","type":"number","format":"double","example":51.509776},"minLongitude":{"title":"Minimum longitude for the bounding rectangle from which positions will be retrieved","type":"number","format":"double","example":-2.962865},"maxLongitude":{"title":"Maximum longitude for the bounding rectangle from which positions will be retrieved","type":"number","format":"double","example":-0.372603},"belowAltitude":{"title":"Only returns positions below this altitude - in feet","type":"integer","format":"int32","example":10000},"aboveAltitude":{"title":"Only returns positions above this altitude - in feet","type":"integer","format":"int32","example":20},"includeFlightPaths":{"title":"Include flight path positions in the results","type":"boolean","example":true},"registrations":{"title":"Filters the results by registration\/tail-number","type":"array","example":["TC-JJU","9V-SMN"],"items":{"title":"Filters the results by registration\/tail-number","type":"string","example":"[\"TC-JJU\",\"9V-SMN\"]"}},"modeSHexCodes":{"title":"Mode-s Hex codes of the aircraft","type":"array","example":["4BA955","76CDAE"],"items":{"title":"Mode-s Hex codes of the aircraft","type":"string","example":"[\"4BA955\",\"76CDAE\"]"}},"fromDate":{"title":"Beginning of the search window in UTC (format: yyyy:MM:ddTHH:mm:ss.sssZ)","type":"string","format":"date-time","example":"2020-04-20T10:25:00Z"},"toDate":{"title":"End of the search window in UTC (format: yyyy:MM:ddTHH:mm:ss.sssZ)","type":"string","format":"date-time","example":"2020-04-20T10:30:00Z"},"airlines":{"title":"Filters response by 3 letters operator ICAO  codes","uniqueItems":true,"type":"array","example":["SIA","THY"],"items":{"title":"Filters response by 3 letters operator ICAO  codes","type":"string","example":"[\"SIA\",\"THY\"]"}},"aircraftTypes":{"title":"Filters the results by the 4 letter ICAO code aircraft types","uniqueItems":true,"type":"array","example":["B77W","A359"],"items":{"title":"Filters the results by the 4 letter ICAO code aircraft types","type":"string","example":"[\"B77W\",\"A359\"]"}},"aircraftClasses":{"title":"Filters response by aircraft class","uniqueItems":true,"type":"array","example":["AIRLINER","CARGO"],"items":{"title":"Filters response by aircraft class","type":"string","example":"[\"AIRLINER\",\"CARGO\"]"}}}},"ApiNatPacTrack":{"title":"NAT\/PAC Track","type":"object","properties":{"identifier":{"title":"Issuing center","type":"string","example":"EGGX"},"issuedDate":{"title":"Issue date","type":"integer","format":"int64"},"validFrom":{"title":"Valid from date","type":"integer","format":"int64"},"validUntil":{"title":"Valid until date","type":"integer","format":"int64"},"track":{"title":"Track ID","type":"string","example":"A"},"waypoints":{"title":"Waypoints list","type":"array","items":{"$ref":"#\/components\/schemas\/ApiTrackWaypoint"}}}},"ApiTrackWaypoint":{"title":"waypoint","type":"object","properties":{"name":{"title":"Waypoint name","type":"string","example":"ATSIX"},"latitude":{"title":"Latitude","type":"number","format":"double","example":60},"longitude":{"title":"Longitude","type":"number","format":"double","example":-10}}},"GetNatPacTracksResponse":{"title":"NAT\/PAC tracks response","type":"object","properties":{"cost":{"title":"Cost of the operation (credits)","type":"integer","format":"int32"},"success":{"title":"Result of the operation","type":"boolean"},"comment":{"title":"Additional info about the operation","type":"string"},"totaPages":{"title":"Total pages in the dataset","type":"integer","format":"int32"},"totalRecords":{"title":"Total records in the dataset","type":"integer","format":"int32"},"pageSize":{"title":"Page size","type":"integer","format":"int32"},"currentPage":{"title":"Current page","type":"integer","format":"int32"},"tracks":{"title":"List of tracks","type":"array","items":{"$ref":"#\/components\/schemas\/ApiNatPacTrack"}}}},"GetAirportsResponse":{"title":"Airports response","type":"object","properties":{"cost":{"title":"Cost of the operation (credits)","type":"integer","format":"int32"},"success":{"title":"Result of the operation","type":"boolean"},"comment":{"title":"Additional info about the operation","type":"string"},"totaPages":{"title":"Total pages in the dataset","type":"integer","format":"int32"},"totalRecords":{"title":"Total records in the dataset","type":"integer","format":"int32"},"pageSize":{"title":"Page size","type":"integer","format":"int32"},"currentPage":{"title":"Current page","type":"integer","format":"int32"},"airports":{"title":"List of flights","type":"array","items":{"$ref":"#\/components\/schemas\/ApiAirport"}}}},"ApiJetModelStatistic":{"title":"Business jet model day statistics","type":"object","properties":{"model":{"title":"Business jet model","type":"string","example":"gulfstream"},"totalFlights":{"title":"Total flights tracked for the jet model on this date","type":"integer","format":"int32","example":1348}}},"ApiJetModelStatistics":{"title":"Jet model statistics","type":"object","properties":{"day":{"title":"Statistics day","type":"string","example":"2021-05-27"},"statistics":{"title":"List of statistics for the current day","type":"array","items":{"$ref":"#\/components\/schemas\/ApiJetModelStatistic"}}}},"BusinessJetModelStatisticsResponse":{"title":"Business jet model statistics request","type":"object","properties":{"cost":{"title":"Cost of the operation (credits)","type":"integer","format":"int32"},"success":{"title":"Result of the operation","type":"boolean"},"comment":{"title":"Additional info about the operation","type":"string"},"totaPages":{"title":"Total pages in the dataset","type":"integer","format":"int32"},"totalRecords":{"title":"Total records in the dataset","type":"integer","format":"int32"},"pageSize":{"title":"Page size","type":"integer","format":"int32"},"currentPage":{"title":"Current page","type":"integer","format":"int32"},"statistics":{"title":"Aggregated statistics per day","type":"array","items":{"$ref":"#\/components\/schemas\/ApiJetModelStatistics"}}}},"ApiBusinessJetOperatorStatistic":{"title":"Business operator day statistics","type":"object","properties":{"operator":{"title":"Operator name","type":"string","example":"vista_jet"},"totalFlights":{"title":"Total flights performed by the operator on this date","type":"integer","format":"int32","example":78}}},"ApiBusinessJetOperatorStatistics":{"title":"Business jet operator statistics","type":"object","properties":{"day":{"title":"Statistics day","type":"string","example":"2021-05-27"},"statistics":{"title":"List of statistics for the current day","type":"array","items":{"$ref":"#\/components\/schemas\/ApiBusinessJetOperatorStatistic"}}}},"BusinessJetOperatorStatisticsResponse":{"title":"Business jet operator statistics request","type":"object","properties":{"cost":{"title":"Cost of the operation (credits)","type":"integer","format":"int32"},"success":{"title":"Result of the operation","type":"boolean"},"comment":{"title":"Additional info about the operation","type":"string"},"totaPages":{"title":"Total pages in the dataset","type":"integer","format":"int32"},"totalRecords":{"title":"Total records in the dataset","type":"integer","format":"int32"},"pageSize":{"title":"Page size","type":"integer","format":"int32"},"currentPage":{"title":"Current page","type":"integer","format":"int32"},"statistics":{"title":"Aggregated statistics per day","type":"array","items":{"$ref":"#\/components\/schemas\/ApiBusinessJetOperatorStatistics"}}}},"SearchAircraftResponse":{"type":"object","properties":{"cost":{"title":"Cost of the operation (credits)","type":"integer","format":"int32"},"success":{"title":"Result of the operation","type":"boolean"},"comment":{"title":"Additional info about the operation","type":"string"},"totaPages":{"title":"Total pages in the dataset","type":"integer","format":"int32"},"totalRecords":{"title":"Total records in the dataset","type":"integer","format":"int32"},"pageSize":{"title":"Page size","type":"integer","format":"int32"},"currentPage":{"title":"Current page","type":"integer","format":"int32"},"aircraft":{"type":"array","items":{"$ref":"#\/components\/schemas\/ApiAircraft"}}}}},"securitySchemes":{"bearerToken":{"type":"http","scheme":"bearer"}}}}